# .gitignore

# Build and dependency management directories
project/
target/

# IDE-specific directories
.bloop/
.metals/

# Optional: Uncomment the line below if you use IntelliJ IDEA
#.idea/

# Optional: Uncomment the line below if you use Eclipse
#.classpath
#.project
#.settings/
