# .gitignore

# Build and dependency management directories
project/boot
project/plugins/project
project/plugins/target
project/target
data
/project
target
.bsp
output

# IDE-specific directories
.bloop/
.metals/
.vscode/

# Optional: Uncomment the line below if you use IntelliJ IDEA
#.idea/

# Optional: Uncomment the line below if you use Eclipse
#.classpath
#.project
#.settings/
